@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-top: 10px;
    background: linear-gradient(90deg, #00C9A7 20%, #C4FCEF 100%);
    font-family: 'Roboto', sans-serif;
}

.container-inicio{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 90px;
}

.container-inicio h1 {
    font-size: 4.0em;
    text-align: center;
    color: #845EC2;
    white-space: nowrap;
    overflow: hidden;
    width: 20em;
    animation: type 4s steps(60, end); 
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 30px;
}


@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 


.btn-action{
    background-color: black;
    border: none;
    padding: 12px 30px;
    border-radius: 20px;
    color: white;
    font-size: 1.05em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.btn-action:hover{
    text-decoration: none;
    color: white;
}

#palavra-secreta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 30px;
}

.letras{
    text-align: center;
    border-bottom: 3px solid black;
    color: black;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#teclado{
    margin-top: 20px;
}

.teclas button{
    width: 10px;
    font-size: 12em;
    margin: 2px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background-color: black;
    color: white;
}


.teclas button:disabled{
    cursor: not-allowed;
}

.teclas button:hover{
    transform:scale(1.2);
}

#categoria{
    margin-top: 30px;
    color: #845EC2;
    font-size: 1.2em;
    font-weight: bold;
}

@media (min-width: 321px){
    .teclas button{
        width: 25px;
        height: 25px;
    }
    #categoria{
        font-size: 1.3em;
    }
}

@media (min-width: 376px){
    .teclas button{
        width: 30px;
        height: 30px;
    }
    #palavra-secreta{
        font-size: 1.3em;
    }
    .letras{
        width: 18px;
    }

    #categoria{
        font-size: 1.5em;
    }
}

@media (min-width: 426px){
    .teclas button{
        width: 36px;
        height: 36px;
    }
    #palavra-secreta{
        font-size: 1.5em;
    }
    .letras{
        width: 20px;
    }

    #categoria{
        font-size: 1.6em;
    }
}

@media (min-width: 769px){
    .teclas button{
        width: 67px;
        height: 40px;
        font-size: 1.2em;
    }
    #palavra-secreta{
        font-size: 2.0em;
    }
    .letras{
        width: 35px;
    }

    #categoria{
        font-size: 2em;
    }
}


